*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.home-page{
    width: 100%;
    display: flex;
    border: 1px solid black;
    height: 100vh;
}
 .home-page-txt{

    width: 56%;
    
    height: 50vh;
    margin: 160px 0px 0px 50px;
}
.home-page-txt h5{
    font-weight: 400;
    font-size: 32px;
}
.home-page-img{
    width: 26%;
    background-image: url('C:\Users\win\Desktop\project-1.0\project-1\src\assets\image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    margin: 0px 0px 0px 80px;
    border-radius: 20px;
    clip-path: inset(0 round 20px);
}